[submodule "themes/bearcub"]
	path = themes/bearcub
	url = https://github.com/clente/hugo-bearcub.git
[submodule "themes/dead-simple"]
	path = themes/dead-simple
	url = https://github.com/barklan/hugo-dead-simple.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub.git
